<div>
    <form method="post">
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" name="Id" /></td>
            </tr>
            <tr>
                <td>Value:</td>
                <td><input type="text" maxlength="3" required name="Value" pattern="[0-9]{3}" /> </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Изменить" /></td>
            </tr>
        </table>
    </form>
</div>