@using TestTaskToALEF.DataModels
@model dynamic

@section Footer{
    <h6>Developed by Sviuz 2020</h6>
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body class="headlineFont">
    <div>
        <table>
            <tr>
                <td>Name</td>
                <td>Value</td>
            </tr>
            @foreach (var m in Model.Models)
            {
                <tr>
                    <td>@m.Value</td>
                    <td>@m.Name</td>
                </tr>
            }
        </table>
    </div>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>Value:</td>
                    <td><input type="text" name="Value" /> </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Создать" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <form method="put">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="number" name="Id" /></td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" name="Description" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Изменить" />
                    </td>
                </tr>
            </table>
        </form>
    </div>


</body>
</html>
