@using TestTaskToALEF.Models
@model IEnumerable<Model>
@section Footer{
    <h6>Developed by Sviuz 2020</h6>
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body class="headlineFont">
    <nav class="navbar navbar-dark">
        
    </nav>
    <div>
        <table>
            <tr>
                <td>Name</td>
                <td>Value</td>
            </tr>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Value</td>
                    <td>@m.Name</td>
                </tr>
            }
        </table>
    </div>

    <div>
        @using (Html.BeginForm("Add", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Value:</td>
                    <td><input type="text" maxlength="3" required name="Value" pattern="[0-9]{3}" /> </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" required name="Name" /> </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Создать" />
                    </td>
                </tr>
            </table>
        }
    </div>

    <div>
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="text" name="id" /></td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td><input type="text" maxlength="3" required name="value" pattern="[0-9]{3}" /> </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Изменить" /></td>
                </tr>
            </table>
        }
    </div>

</body>
</html>
