/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face{
    font-family:"NK147";
    src:url("../fonts/NK147.ttf");
}

.nk147Font {
    font-family: NK147;
    font-size: 32px;
    font-weight:500
}

.main {
    width: 600px;
    margin: 0 auto;
}

.list {
    padding-top: 50px;
    margin-bottom: 60px;
}

.list-table {
    width: 600px;
}

.list-table-thead {
    width: 100%;
}

.list-table-thead-tr {
    background: #e2e2e2;
    width: 100%;
}

.table-tr {
    background: #ffffff;
}

.table-tr:hover {
    background: #f5f5f5;
}


